*.class
*.com
*.dll
*.dx64fsl
*.exe
*.fasl
*.iml
*.ipr
*.iws
*.lisp~
*.lock
*.mode1v3
*.mode2v3
*.moved-aside
*~.nib
*.o
*.pbxuser
*.perspectivev3
*.pyc
*.so
*.swp
*.Trashes
*.xccheckout
*.xfasl
.DS_Store
.classpath
.clover/
.idea/*
.project
.settings/
.svn/
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
bin/
build/
compiled/
gen/
node_modules/
out/
local.properties
target/
xcuserdata
DerivedData/
.nide
Icon
.gradle/
gradlew*
libs/*